extends layout

block content
  .row
    p grdc - RSS reader
  .row
    .span4
      ul.unstyled
        each feed in feeds
          li: a.feedItem(href='#', feed-id=feed.feed_id) #{feed.title}
    .span8
      table.table.table-striped#contentsPane
