doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    
  body
    script(src="http://code.jquery.com/jquery.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/hogan-2.0.0.min.js")
    script(src="/js/grdc.js")
    #header
      h1 grrreader - RSS reader
    block content